<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="RedsysFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Magestio\Redsys\Model\Ui\RedsysConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magestio\Redsys\Block\RedsysInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">RedsysValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">RedsysCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="BizumFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Magestio\Redsys\Model\Ui\BizumConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magestio\Redsys\Block\BizumInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BizumValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">RedsysCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Magestio\Redsys\Gateway\Config\Redsys">
        <arguments>
            <argument name="methodCode" xsi:type="const">Magestio\Redsys\Model\Ui\RedsysConfigProvider::CODE</argument>
        </arguments>
    </type>
    <type name="Magestio\Redsys\Gateway\Config\Bizum">
        <arguments>
            <argument name="methodCode" xsi:type="const">Magestio\Redsys\Model\Ui\BizumConfigProvider::CODE</argument>
        </arguments>
    </type>

    <!-- <virtualType name="RedsysGatewayCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="logger" xsi:type="object">Magestio\Redsys\Logger\Logger</argument>
        </arguments>
    </virtualType> -->

    <!-- Commands infrastructure -->
    <virtualType name="RedsysCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
                <item name="authorize" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
                <item name="capture" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Commands infrastructure -->

    <!-- Value handlers infrastructure -->
    <virtualType name="RedsysValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">RedsysConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="RedsysConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Magestio\Redsys\Gateway\Config\Redsys</argument>
        </arguments>
    </virtualType>
    <virtualType name="BizumValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BizumConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BizumConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Magestio\Redsys\Gateway\Config\Bizum</argument>
        </arguments>
    </virtualType>

    <type name="Magestio\Redsys\Block\RedsysInfo">
        <arguments>
            <argument name="config" xsi:type="object">Magestio\Redsys\Gateway\Config\Redsys</argument>
        </arguments>
    </type>
    <type name="Magestio\Redsys\Block\BizumInfo">
        <arguments>
            <argument name="config" xsi:type="object">Magestio\Redsys\Gateway\Config\Bizum</argument>
        </arguments>
    </type>

    <!-- Logger -->
    <type name="Magestio\Redsys\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magestio\Redsys\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">redsys_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magestio\Redsys\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>
